.cards {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(361px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 950px) {
  .cards {
    padding: 0 19px;
  }
}
