.page {
  box-sizing: border-box;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 880px;
  background-color: #000000;
  color: #FFF;
  margin: 0 auto;
}



