.popup__container {
  position: relative;
  width: 430px;
  height: 330px;
  background-color: #FFF;
  color: #000;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 650px) {
  .popup__container {
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }
}
