.header__logo {
  width: 142px;
  height: 33px;
  margin: 45px 0 41px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 650px) {
  .header__logo {
    width: 103px;
    height: 24px;
    margin: 28px 0 31.6px 27px;
  }
}
