.profile__title {
  margin: 0 0 16px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 400px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 14px;
    margin: 0 auto 14px;
  }
}
