.profile__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  max-width: 500px;
  word-wrap: break-word;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 750px) {
  .profile__title {
    grid-column: 2;
    grid-row: 1;
  }
}

@media screen and (max-width: 450px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }
}
