.profile__add-button {
  box-sizing: border-box;
  margin: auto 0;
  width: 150px;
  height: 50px;
  padding: 0;
  background-image: url(../../../images/add-button.svg);
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  border: 2px solid #FFF;
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 750px) {
  .profile__add-button {
    margin: 36px auto 0;
    background-size: 16px;
    width: 282px;
    height: 50px;
  }
}
