.profile__add-button {
  margin: auto 0;
  width: 22px;
  height: 22px;
  padding: 12px 63px;
  border: 2px solid #FFF;
  opacity: 1;
  transition: opacity 0.5s;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 700px) {
  .profile__add-button {
    margin: auto;
    width: 16px;
    height: 16px;
    padding: 15px 131px;
  }
}
