.profile__info {
  margin: auto 0;
  display: grid;
  align-items: baseline;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: 18px;
  row-gap: 16px;
}

@media screen and (max-width: 750px) {
  .profile__info {
    column-gap: 10px;
    row-gap: 14px;
  }
}
