.profile__info {
  margin: auto 0;
  display: grid;
  align-items: baseline;
  grid-template-columns: 1fr 24px;
  column-gap: 18px;
  row-gap: 16px;
}

@media screen and (max-width: 750px) {
  .profile__info {
    margin: 0 19px;
    grid-template-columns: 24px 1fr 24px;
  }
}

@media screen and (max-width: 450px) {
  .profile__info {
    grid-template-columns: 18px 1fr 18px;
    column-gap: 10px;
    row-gap: 7px;
  }
}
