.card__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/card__trash.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  opacity: 1;
  transition: opacity 0.5s;
}

.card__trash:hover {
  opacity: .5;
}
