.popup__title {
  margin: 0 0 54px;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 650px) {
  .popup__title {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 22px;
  }
}
