.card {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  box-sizing: border-box;
  max-width: 282px;
  max-height: 361px;
  background-color: #FFF;
  border-radius: 10px;
  overflow: hidden;
}
